<div class="navbar navbar-static-top navbar-inverse" role ="navigation">
  <div class="navbar-inner">
    <ul id="nav" class="nav">
      <li>
        <a href="<%= root_url %>">About the Registry</a>
      </li>
    </ul>
  </div>
</div>
<div id="header" class="container centered header clearfix">
  <div class="logo">
    <a href="http://www.hathitrust.org">
      <span class="offscreen">HathiTrust Digital Library</span>
    </a>
  </div> 
  <div class="search-form" role="search">
    <%= render_search_bar %>
  </div>
</div>
