<div class="main">
<h1>United States Government Documents Registry</h1>
<div class="content-area">
<div class="content">
<div class="text">
  <p>The HathiTrust US Government Documents Registry is intended to be a metadata registry for the corpus of United States Federal Government Documents. This will include materials produced at U.S. government expense, in all formats, at the item level, from 1789 to the present. For more information about the Registry, including a timeline and project documentation, see <a href="http://www.hathitrust.org/usgovdocs_registry">Creating a Registry of US Federal Government Documents</a>.</p>
  <p>Records in the Registry were contributed by the following institutions:</p>
  <ul>
    <li>Arizona State University</li>
    <li>Baylor University</li>
    <li>Clemson University</li>
    <li>Colby College</li>
    <li>Cornell University</li>
    <li>East Carolina University</li>
    <li>Florida Agricultural and Mechanical University</li>
    <li>Florida Atlantic University</li>
    <li>Florida Gulf Coast University</li>
    <li>Florida Institute of Technology</li>
    <li>Florida International University</li>
    <li>Florida Polytechnic University</li>
    <li>Florida State University</li>
    <li>George Mason University</li>
    <li>Georgetown University Law Library</li>
    <li>Harvard University</li>
    <li>Indiana University</li>
    <li>Iowa State University</li>
    <li>Johns Hopkins University</li>
    <li>Kansas State University</li>
    <li>Massachusetts Institute of Technology</li>
    <li>Michigan State University</li>
    <li>New College of Florida</li>
    <li>New York Public Library</li>
    <li>North Carolina State University</li>
    <li>Northwestern University</li>
    <li>The Ohio State University</li>
    <li>Pennsylvania State University</li>
    <li>Princeton University</li>
    <li>Temple University</li>
    <li>Texas A&amp;M University</li>
    <li>Tufts University</li>
    <li>University of Alabama</li>
    <li>University of Arizona</li>
    <li>University of Chicago</li>
    <li>University of Central Florida</li>
    <li>University of Colorado Boulder</li>
    <li>University of Delaware</li>
    <li>University of Florida</li>
    <li>University of Illinois at Chicago</li>
    <li>University of Iowa</li>
    <li>University of Kentucky</li>
    <li>University of Maryland</li>
    <li>University of Michigan</li>
    <li>University of Minnesota</li>
    <li>University of Mississippi</li>
    <li>University of North Carolina at Greensboro</li>
    <li>University of North Florida</li>
    <li>University of Notre Dame</li>
    <li>University of Oklahoma Libraries</li>
    <li>University of South Florida</li>
    <li>University of Virginia</li>
    <li>University of West Florida</li>
    <li>University of Wisconsin-Madison</li>
    <li>Utah State University</li>
    <li>Vanderbilt University</li>
    <li>Virginia Tech</li>
  </ul>

  <p>Project contact:<br/>
    <a href="mailto:christeh@hathitrust.org">Heather Christenson</a>, Collections &amp; Access Lead and Program Officer for Federal Documents
  </p>
</div><!-- end text -->
</div>
</div>
</div>

