<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<section id="facets" class="facets sidebar">

  <div class="narrow">
    <h3 class='narrowsearch'>Refine Results</h3>
    <div id="facetlist">
      <%= render_facet_partials %>
    </div>
  </div>
</section>
<% end %>
