
<% paginator = facet_paginator(facet_field, display_facet) %>
<%= render_facet_limit_list paginator, field_name %>

<% unless paginator.last_page? || params[:action] == "facet" %>
  <%# oh well, just a long list of subjects anyway %>
<% end %>
<% if paginator.items.count > 5 %>
  <dd>
    <a class="morefacets morefacets_<%=field_name%>" data-facet_name="<%=field_name%>" href="#">more &gt;&gt;</a> 
  </dd>
<% end %>
