<div class="main">
<h1>United States Government Documents Registry</h1>
<div class="content-area">
<div class="content">
<div class="text">
  <p>The HathiTrust US Federal Government Documents Registry is a database of metadata representing the comprehensive corpus of U.S. federal documents produced from 1789 to the present. It is not yet complete.</p>
  <p>For more detailed information on the Registry, see <a href="http://www.hathitrust.org/usgovdocs_registry">Creating a Registry of US Federal Government Documents</a>.</p>
</div>
<%= render :partial => 'feedback_form' %>
</div>
</div>
</div>

