<div class="main">
<h1>United States Government Documents Registry</h1>
<div class="content-area">
<div class="content">
<div class="text">
  <p>This is an Alpha release of the HathiTrust US Federal Government Documents Registry. The Registry is intended to include item-level metadata for the comprehensive corpus of U.S. federal documents produced from 1789 to the present. For more detailed background information, see <a href="http://www.hathitrust.org/usgovdocs_registry">Creating a Registry of US Federal Government Documents</a>. This not a record of what can be found in the <a href="http://www.hathitrust.org/home">HathiTrust Digital Library</a> - the scope is broader and includes materials in all formats.</p>
  <p>This is a work in progress and we know that there are things that still need to be worked on, which means that there may be downtime while system work continues.</p>
  <p>Known issues:
    <ul>
      <li>Enumeration and chronology data is inconsistent.</li>
      <li>Inclusion of metadata for non-US federal government documents. Please report if found.</li>
      <li>SuDoc search only retrieves records that include a SuDoc number - many of these records only have LC call numbers.</li>
      <li>Accessibility</li>
    </ul>
  </p>
  <p>Please focus your feedback on:
    <div class="feedback_block"> 
      Search results:
      <ul>
        <li>Was the display of results what you were expecting?</li>
        <li>Was the content of the results what you were expecting?</li>
        <li>Are there any obvious gaps in content you noticed?</li>
        <li>Any obvious duplicate records?</li>
      </ul>
    </div>
    <div class="feedback_block"> 
      Record display:
      <ul>
        <li>Was there any information you were expecting that wasn't available?</li>
        <li>Were there any confusing labels?</li>
      </ul>
    </div>
    <div class="feedback_block"> 
      Overall:
      <ul>
        <li>Is there any functionality you consider necessary that is currently unavailable?</li>
      </ul>
    </div>
  </p>
</div>
<%= render :partial => 'feedback_form' %>
</div>
</div>
</div>

