<div class="main">
<h1>United States Government Documents Registry</h1>
<div class="content-area">
<div class="content">
<div class="text">
  <p>The HathiTrust US Federal Government Documents Registry is a database of metadata intended to represent the comprehensive corpus of U.S. federal documents produced from 1789 to the present. It is not yet a definitive set, and we continue to improve accuracy and comprehensiveness.</p>
  <p>For more detailed information on the Registry, see <a href="http://www.hathitrust.org/usgovdocs_registry">Creating a Registry of US Federal Government Documents</a>.</p>
</div>
</div>
</div>
</div>

