<%# partial to display solr document fields in catalog index view -%>
<div class="resultItemLine2 results_author">
  <%= render_index_field_value document, field: 'author_display', label: 'by ' %>
</div>
<div class="resultItemLine3 results_published">
  <%= render_index_field_value document, field: 'pub_date', label: 'Published:' %>
</div>
<div class="AccessLink">
  <%= link_to_document document, :label=>'Registry Record', :class=>'cataloglinkhref' %>
  <% if document.has_key? 'ht_ids' %>
    <% document[:ht_ids].uniq.each do |ht_id| %>
      <span class="ht_index_link fulltext"><%= link_to "HathiTrust Full View", "http://catalog.hathitrust.org/Record/#{ht_id}" %></span>
    <% end %>
  <% end %>
</div> 

