<%# title/header bar for doc items in index view -%>
<div class="resultItemLine1 results_title">
  <h3 class="title">
    <span class="title">
      <%= render_index_field_value document, document_show_link_field(document) %>
    </span>
    <span class="enum_chron">Enum/Chron here</span>
  </h3>

</div>
