<%# title/header bar for doc items in index view -%>
<div class="resultItemLine1 results_title">
  <h3 class="title">
    <span class="title">
      <%= render_index_field_value document, document_show_link_field(document) %>
     <% if document['subtitle_display'] -%>
      : <%= render_index_field_value document, field: 'subtitle_display' %>
     <% end %>
    </span>
    <span class="enum_chron"><%= render_index_field_value document, field: 'enumchron_display' %></span>
  </h3>

</div>
