<% if show_sort_and_per_page? and !blacklight_config.per_page.blank? %>

<div id="per_page-dropdown" class="btn-group">
  <select id="paging" class="sz" onchange="document.location.href= this.options[this.selectedIndex].value;" name="sz">
  <%- per_page_options_for_select.each do |(label, count)| %>
    <option value="<%= url_for(params_for_search(:per_page=>count)) %>"
      <% if current_per_page == count %>selected<% end%>
    ><%= label %></option>
  <%- end -%>
  </select>
</div>

<% end %>
