.search-tabs h1 { 
  width:36rem; 
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 0.1rem;
  border: 2px solid #d2d2d1;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: small-caps;
  color: #6d6d6d;
  display:inline-block;
  margin-bottom: -2px;
  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap;
  line-height: normal;
}

.result { padding-left:1em; }

#index_header { font-weight: 150%; font-size: 125%; } 
.enum_chron { float:right; margin-left:2em; font-size:1.15em; }

ul.pagination, ul.pagination li  { display:inline; list-style-type:none; }

.options { border-bottom: 1px solid #aaaaaa; }
.options div { display:inline; }
.options .page_links { float:right; }

/* record count thing can get too close to per_page selection */
.page_entries { padding-left: 2em; }

.form-group { margin: 1em; } /* fixes some layout issues in sms and email forms */

#smsLink { padding-left: 1em; }

#sidebar { display:table-cell; border-left: 1px solid #e1dfdf; padding-left: 1em; }

.sidebar { padding-bottom: 1em; }

#sidebar .panel { border-bottom: 1px solid #e1dfdf; margin-bottom: 1em; }

.show-document #document { margin-right: 2em; }

.panel {  padding-top: 1em; }

.feedback_block { margin-left: 2em; }

.feedback-form { border-top: 1px solid #e1dfdf; margin-top: 3em; }

#ht_id_listing { list-style: none; }


/* tool views */
.tool_view { display:none; margin-top:2em; text-align: left; border-top: 1px solid #777777; }

/* MARC is ugly but we'll try */
#librarian_view .tag {background-image: none; }
#librarian_view .field { border-bottom: 1px solid #777777; clear: both; }
#librarian_view .ind1, #librarian_view .ind2 { display: inline; padding: 0 5px; }
#librarian_view .subfields { padding-left: 5em; }
#librarian_view .tag_ind { float: left; }

.source_rec {
  margin-bottom: 2em; 
  margin-top: 4.0rem;
  line-height: 2.2rem;
}

/* hide pub_date facet */
.pub_date, .facet_pub_date, .morefacets_pub_date { display:none; }

dd.pub_date { margin-left:50px; }

/* hide the next button in pagination if given 'disabled' */
.pagination > .disabled { display:none; }

.facets .remove {
  position: absolute;
  right: 100%;
  margin-right: 0.2rem;
}

.facets .facet-label {
  position: relative;
}

/* Change from hathi common.css */
.container .sidebar .narrow {
  font-size: 1.4rem;
}

#facetlist dt {
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

#facetlist dd { 
  margin-bottom: 1.0rem;
}

.resultItemLine2, .resultItemLine3 {
  font-size: 1.4rem;
}

.citation {
  font-size: 100%;
}

.citation tr {
  border-bottom: 1px solid #DDD;
  line-height: 2.2rem;
}

.panel-heading {
  font-weight: bold;
}

.panel-body {
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.documents-list .result + .result {
  border-top: 1px solid #BBB;
}

/* change search bar top from fieldset to div */
.search-form .search_fields {
  border:6px solid #d2d2d1;
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  position: relative;
  padding: 0;
  height: 4rem;
  z-index: 10;
  background: #fff;
  margin:2px;
  margin-top:0;
}

.search-form .search_fields button.button{position:absolute;top:-6px;right:-46px;bottom:0;display:inline-block;height:40px ;height:4rem ;width:40px ;width:4rem ;margin:0;padding:0;border-top-left-radius:0;border-bottom-left-radius:0;border:1px solid #545454;border-bottom-color:#3a3a3a;background:dimgrey url("https://www.hathitrust.org/common/unicorn/img/search.png") no-repeat 99% center;z-index:0}

.search-form .search_fields button.button:hover{background-color:#848383;border-color:#777676;border-bottom-color:#5d5d5d}

/* control width of main elements */
#contentContainer { max-width: 120rem; min-width:70rem; }
#header { min-width:70rem; }
.navbar-inner { max-width: 120rem; min-width:70rem; }

h1.title { font-size:3rem; font-weight:bold; color: #4f4f4f;}
