
.search-tabs label { width:36rem; }

.result { padding-left:1em; }

#index_header { font-weight: 150%; font-size: 125%; } 
.enum_chron { float:right; margin-left:2em; font-size:1.15em; }

ul.pagination, ul.pagination li  { display:inline; list-style-type:none; }

.options { border-bottom: 1px solid #aaaaaa; }
.options div { display:inline; }
.options .page_links { float:right; }

/* record count thing can get too close to per_page selection */
.page_entries { padding-left: 2em; }

.form-group { margin: 1em; } /* fixes some layout issues in sms and email forms */

#smsLink { padding-left: 1em; }

#sidebar { display:table-cell; border-left: 1px solid #e1dfdf; padding-left: 1em; }

.sidebar { padding-bottom: 1em; }

#sidebar .panel { border-bottom: 1px solid #e1dfdf; margin-bottom: 1em; }

.show-document #document { margin-right: 2em; }

.panel {  padding-top: 1em; }

.feedback_block { margin-left: 2em; }

#ht_id_listing { list-style: none; }


/* tool views */
.tool_view { display:none; margin-top:2em; text-align: left; border-top: 1px solid #777777; }

/* MARC is ugly but we'll try */
#librarian_view .tag {background-image: none; }
#librarian_view .field { border-bottom: 1px solid #777777; clear: both; }
#librarian_view .ind1, #librarian_view .ind2 { display: inline; padding: 0 5px; }
#librarian_view .subfields { padding-left: 5em; }
#librarian_view .tag_ind { float: left; }

/* hide pub_date facet */
.pub_date, .facet_pub_date, .morefacets_pub_date { display:none; }

dd.pub_date { margin-left:50px; }
